@import url('./pages/home.css');
@import url('./pages/contacts.css');
@import url('./pages/about.css');
@import url('./pages/registration.css');
@import url('../css/blocks/navigation.css');
@import url('../css/blocks/login.css');
@import url('../css/blocks/user.css');

 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}