.header {
    background-image: linear-gradient(360deg, rgb(255, 132, 169), white);
    background-repeat: no-repeat;
    min-height: 100%;
    height: 100%;
    padding-top: 10px;
}

.header__title {
    text-align: center;
    text-shadow: 0 0 8px rgb(255, 203, 131);
    padding-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__image-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: -5px;
    padding: 10px;
}

.content__image {
    width: 50%;
    max-width: 50%;
}

.content__post {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    max-width: 50%;
}

.content__user {
    text-align: center;
    border: 1px solid rgb(255, 76, 246);
    border-radius: 12px;
    box-shadow: 0 0 12px 0 rgb(255, 4, 4);
    background-color: rgb(255, 145, 145);
    color: blue;
    padding: 2px 5px;
}

.content__text {
    border: 1px solid rgb(255, 76, 246);
    border-radius: 12px;
    padding: 5px;
}

.content__button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    color: blue;
    background-color: transparent;
}

.content__button:disabled {
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
}

.content__button:hover {
    color: rgb(223, 0, 223);
    text-shadow: 0 0 1px black;
    cursor: pointer;
}

.info-comment {
   margin: 10px auto;
   color: gray;
   font-size: 20px;
   text-align: center;
}

/*modal view*/
.modal {
    position: fixed;
    z-index: 5;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.711);
    display: none;  
}

.no-scroll {
    overflow: hidden;
    max-height: 100vh;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    color: red;
    background-color: white;
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    cursor: pointer; 
    border: 1px solid red; 
    padding-bottom: 5px;
    box-shadow: 0 0 12px 1px red;
}

.modal__close:active {
    color: orange;
    box-shadow: 0 0 12px 1px orange;
}

.form-comment {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   background-color: rgb(177, 177, 177);
   padding: 10px;
}

.form-comment__block_flex {
    display: flex;
}

.form-comment__label {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 20px;
  border-radius: 8px;
  color: rgb(151, 37, 102);
  text-shadow: 0 0 5px white;
}

.form-comment__textarea {
  resize: none;
  width: 300px;
  height: 120px;
  margin-bottom: 10px;
  padding: 10px;
}

.form-comment__input {
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 5px 10px;
}

.form-comment__button {
    border-radius: 8px;
    padding: 5px 10px 5px;
    width: 325px;
    position: relative;
    left: 95px;
    color: rgb(151, 37, 102);
    font-size: 20px;
}

.info-send {
    margin: 5px auto;
    color: red;
}

.content__no-comment {
    color: coral;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .info-comment {
        font-size: 16px;
     }
}


